
<div *ngIf="employee">
    <h2><span jhiTranslate="timetrackApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="timetrackApp.employee.firstname">Firstname</span></dt>
        <dd>
            <span>{{employee.firstname}}</span>
        </dd>
        <dt><span jhiTranslate="timetrackApp.employee.lastname">Lastname</span></dt>
        <dd>
            <span>{{employee.lastname}}</span>
        </dd>
        <dt><span jhiTranslate="timetrackApp.employee.email">Email</span></dt>
        <dd>
            <span>{{employee.email}}</span>
        </dd>
        <dt><span jhiTranslate="timetrackApp.employee.phonenumber">Phonenumber</span></dt>
        <dd>
            <span>{{employee.phonenumber}}</span>
        </dd>
        <dt><span jhiTranslate="timetrackApp.employee.salary">Salary</span></dt>
        <dd>
            <span>{{employee.salary}}</span>
        </dd>
        <dt><span jhiTranslate="timetrackApp.employee.user">User</span></dt>
        <dd>
            {{employee.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
