

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTimeTrackLabel" jhiTranslate="timetrackApp.timeTrack.home.createOrEditLabel">Create or edit a Time Track</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!timeTrack.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="timeTrack.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timetrackApp.timeTrack.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="timeTrack.name"
            required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timetrackApp.timeTrack.timeFrom" for="field_timeFrom">Time From</label>
            <div class="d-flex">
                <input id="field_timeFrom" type="datetime-local" class="form-control" name="timeFrom" [(ngModel)]="timeTrack.timeFrom"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.timeFrom?.dirty && editForm.controls.timeFrom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timeFrom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.timeFrom?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="timetrackApp.timeTrack.timeTo" for="field_timeTo">Time To</label>
            <div class="d-flex">
                <input id="field_timeTo" type="datetime-local" class="form-control" name="timeTo" [(ngModel)]="timeTrack.timeTo"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.timeTo?.dirty && editForm.controls.timeTo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timeTo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.timeTo?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="timetrackApp.timeTrack.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="timeTrack.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === timeTrack.project?.id ? timeTrack.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="timetrackApp.timeTrack.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="timeTrack.employee" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id === timeTrack.employee?.id ? timeTrack.employee : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.firstname}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
